<style>
</style>

<div class="outer-box">
    <div class="inner-box">
        <h1>Dashboard</h1>
    </div>
    <div class="gradient-box">
    </div>
</div>

<div class="body-content">
    <div class="body-container">
        <div class="body-item">
            <h2>Inventory</h2>
            <p>Units: {{formatInt(invUnits)}}</p>
            <p>Value: {{formatInt(invValue)}}</p>
        </div>
        
        <div class="body-item">
            <h2>Contracts</h2>
            <p ng-if="contracts.length == 0">No contracts in place</p>
            <p ng-repeat="contract in contracts">{{contract[0]}} units at ${{contract[1]}} every {{contract[2]}} days</p>
        </div>
    </div>
</div>