<style>
    .body-content {
        height: 100%;
    }

    .body-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .body-item {
        flex-grow: 1;
        flex-basis: 350px;
        padding: 20px;
        margin: 10px;
        background-color: white;
    }

    .body-item:hover {
        box-shadow: inset 0px 0px 0 2px #9E9E9E;
        transition: box-shadow 0.2s;
    }
</style>

<div class="outer-box">
    <div class="inner-box">
        <h1>Dashboard</h1>
    </div>
    <div class="gradient-box">
    </div>
</div>

<div class="body-content">
    <div class="body-container">
        <div class="body-item">
            <h2>Inventory</h2>
            <p>Units: {{formatInt(invUnits)}}</p>
            <p>Value: {{formatInt(invValue)}}</p>
        </div>
        
        <div class="body-item">
            <h2>Contracts</h2>
            <p ng-repeat="contract in contracts">{{contract[0]}} units at ${{contract[1]}} every {{contract[2]}} days</p>
        </div>
        
        <div class="body-item">
        </div>
    </div>
</div>