<div class="outer-box">
    <div class="inner-box">
        <h1>Dashboard</h1>
    </div>
    <div class="gradient-box">
    </div>
</div>

<div class="body-content">
    <div class="body-container">
        <div class="body-item">
            <h2>Market Price</h2>
            <p>Current price: 5</p>
            <input type="number" ng-model="purchase.units"></input>
            <button ng-click="buyUnits(purchase.units, 5)">Buy {{purchase.units}} units</button>
        </div>
        
        <div class="body-item">
            <h2>Contract Price</h2>
            <p>Price: 6</p>
            <p>Quantity: 100</p>
            <p>Terms: Every 15 days</p>
            <button ng-click="makeContract(100, 6, 15)">Create contract</button>
        </div>
        
    </div>
</div>