<style>
    .body-subitem {
        background-color: #E9E9E9;
        padding: 10px;
        flex-grow: 1;
        flex-basis: 100px;
        margin: 5px;
    }

    .body-subitem p {
        margin: 0px;
    }

    .body-subitem h3 {
        margin: 5px 0 10px 0;
    }
</style>

<div class="outer-box">
    <div class="inner-box">
        <h1>Dashboard</h1>
    </div>
    <div class="gradient-box">
    </div>
</div>

<div class="body-content">
    <div class="body-container">
        <div class="body-item" ng-repeat="supplier in suppliers">
            <h2>{{supplier.name}}</h2>
            <div class="body-subitem" ng-repeat="product in supplier.products">
                <h3>{{product.name}}</h3>
                <p>Available: {{formatInt(supplier.inventory[product.id].available)}}</p>
                <p>Price: {{formatInt(supplier.inventory[product.id].price)}}</p>
            </div>
        </div>
    </div>
</div>